n8n/workflows/prod_export/router.json
{
  "createdAt": "2026-03-03T22:00:38.601Z",
  "updatedAt": "2026-03-12T05:11:36.752Z",
  "id": "78gn0qi3wby3PnK4",
  "name": "[Router] Core Orchestrator SaaS v2",
  "active": true,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Recibir Mensaje WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "options": {
          "responseData": "allEntries"
        }
      },
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "id": "code-normalizar",
      "name": "Normalizar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst data = body.data || body;\nconst key = data.key || {};\nconst remoteJid = key.remoteJid || '';\nconst phone = remoteJid.replace('@s.whatsapp.net','').replace('@g.us','').replace(/[^0-9]/g,'');\n\nif (!phone || key.fromMe === true || remoteJid.includes('@g.us')) return [];\n\nconst msg = data.message || {};\nconst message = msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || '';\n\n// Detectar mensajes con imagen\nconst isImage = !!msg.imageMessage;\nconst isDocument = !!(msg.documentMessage || msg.documentWithCaptionMessage);\nconst imageCaption = isImage ? (msg.imageMessage.caption || '') : '';\nconst imageThumbnailBase64 = isImage && msg.imageMessage.jpegThumbnail\n  ? msg.imageMessage.jpegThumbnail\n  : null;\n\n// Permitir texto, imágenes y documentos; ignorar mensajes vacíos sin media\nif (!message.trim() && !imageCaption.trim() && !isImage && !isDocument) return [];\n\nconst messageType = isImage ? 'image' : (isDocument ? 'document' : 'text');\nconst effectiveMessage = message.trim() || imageCaption.trim() || (isImage ? '[imagen]' : '[documento]');\n\nreturn [{\n  json: {\n    phone,\n    message: effectiveMessage,\n    messageType,\n    imageThumbnailBase64,\n    pushName: data.pushName || 'Cliente',\n    instanceName: body.instance || '',\n    messageId: key.id || '',\n    timestamp: data.messageTimestamp || Date.now()\n  }\n}];"
      }
    },
    {
      "id": "http-get-tenant",
      "name": "Buscar Tenant Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        304
      ],
      "parameters": {
        "url": "={{ 'http://host.docker.internal:3000/internal/tenant/by-instance/' + $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-key",
              "value": "3226e5fc55deedbc8dddec221868c8098aec7e7f045515c32127fd643d4abb98"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "if-found",
      "name": "Tenant Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        288
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-active",
      "name": "Tenant Activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        192
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-active",
              "leftValue": "={{ $json.isActive }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-no-registrado",
      "name": "Responder No Registrado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        448
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://eco_evolution:8080/message/sendText/' + $('Normalizar Mensaje').first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Normalizar Mensaje').first().json.phone, text: 'Este número no está registrado en nuestra plataforma. Contacta al administrador para activar tu servicio.' }) }}",
        "options": {}
      }
    },
    {
      "id": "http-inactivo",
      "name": "Responder Inactivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        416
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.evolutionApiUrl || 'http://eco_evolution:8080') + '/message/sendText/' + $('Normalizar Mensaje').first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolutionApiKey || $env.EVOLUTION_API_KEY || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Normalizar Mensaje').first().json.phone, text: 'El servicio está temporalmente inactivo. Contacta a soporte para más información.' }) }}",
        "options": {}
      }
    },
    {
      "id": "code-cargar-config",
      "name": "Cargar Config Negocio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        192
      ],
      "parameters": {
        "jsCode": "const msg = $('Normalizar Mensaje').first().json;\nconst messageType = msg.messageType || 'text';\nconst imageThumbnailBase64 = msg.imageThumbnailBase64 || null;\nconst api = $('Buscar Tenant Backend').first().json;\nconst bc = api.businessConfig || {};\n\n// Verificar horario de atencion\nconst tz = bc.businessHours && bc.businessHours.timezone ? bc.businessHours.timezone : 'America/Bogota';\nconst now = new Date();\nconst localTime = new Intl.DateTimeFormat('es-CO', { timeZone: tz, hour: '2-digit', minute: '2-digit', hourCycle: 'h23' }).format(now);\nconst dayName = new Intl.DateTimeFormat('es-CO', { timeZone: tz, weekday: 'long' }).format(now);\nconst dayMap = { lunes: 'monday', martes: 'tuesday', miercoles: 'wednesday', jueves: 'thursday', viernes: 'friday', sabado: 'saturday', domingo: 'sunday' };\nconst todayKey = dayMap[dayName.toLowerCase()] || dayName.toLowerCase();\nconst schedule = bc.businessHours && bc.businessHours.schedule ? bc.businessHours.schedule : [];\nconst todayKeyEs = dayName.charAt(0).toUpperCase() + dayName.slice(1).toLowerCase();\nconst todaySchedule = schedule.find(function(d) {\n  var dLow = (d.day || '').toLowerCase();\n  return dLow === todayKey || dLow === todayKeyEs.toLowerCase() ||\n    d.day === todayKeyEs || d.day === todayKey;\n});\nconst parts = localTime.split(':');\nconst hh = parseInt(parts[0], 10);\nconst mm = parseInt(parts[1], 10);\nconst nowMins = hh * 60 + mm;\nlet inHours = true;\nif (todaySchedule && todaySchedule.isOpen) {\n  const op = (todaySchedule.open || '00:00').split(':');\n  const cl = (todaySchedule.close || '23:59').split(':');\n  const openMins = parseInt(op[0], 10) * 60 + parseInt(op[1], 10);\n  const closeMins = parseInt(cl[0], 10) * 60 + parseInt(cl[1], 10);\n  inHours = nowMins >= openMins && nowMins <= closeMins;\n} else if (todaySchedule && !todaySchedule.isOpen) {\n  inHours = false;\n}\n\n// Verificar credenciales Evolution API\nif (!api.evolutionApiUrl || !api.evolutionApiKey) {\n  throw new Error('[SharkByte] Tenant ' + api.tenantId + ' sin credenciales Evolution API configuradas.');\n}\n\n// Catalogo como texto plano\nconst catalogLines = (bc.catalog || []).map(function(p) {\n  var line = '- ' + p.name;\n  if (p.price) line += ' | $' + Number(p.price).toLocaleString('es-CO');\n  if (p.category) line += ' | ' + p.category;\n  if (p.available === false) line += ' [NO DISPONIBLE]';\n  if (p.description) line += ': ' + p.description;\n  return line;\n});\n\nconst faqLines = (bc.faq || []).map(function(f) {\n  return 'P: ' + f.question + '\\nR: ' + f.answer;\n});\n\n// INSTRUCCION DE CLASIFICACION — va PRIMERO para maxima prioridad\nvar classificationInstruction =\n  'INSTRUCCION CRITICA — DEBES SEGUIRLA OBLIGATORIAMENTE:\\n' +\n  'Al FINAL de tu respuesta al cliente, SIEMPRE agrega este bloque exacto:\\n' +\n  '<JSON>\\n' +\n  '{{\"intent\":\"INTENT\",\"confidence\":SCORE,\"suggested_response\":\"TU_RESPUESTA\"}}\\n' +\n  '</JSON>\\n\\n' +\n  'Donde INTENT es UNO de: ventas | soporte | agendamiento | informacion | humano | fallback\\n' +\n  'Donde SCORE es un numero entre 0.0 y 1.0 segun tu certeza\\n' +\n  'Donde TU_RESPUESTA es exactamente lo que acabas de responder al cliente\\n\\n' +\n  'Clasificacion de intents:\\n' +\n  '- ventas: compra, precio, producto, catalogo, oferta, ordenar, disponibilidad, cuanto cuesta\\n' +\n  '- soporte: problema, fallo, error, queja, reclamo, no funciona, reparacion, garantia\\n' +\n  '- agendamiento: cita, reserva, agendar, turno, hora, calendario\\n' +\n  '- informacion: horario, direccion, contacto, como funciona, ubicacion\\n' +\n  '- humano: hablar con persona, agente humano, operador, representante\\n' +\n  '- fallback: saludo, despedida, mensaje ambiguo o sin categoria clara\\n\\n' +\n  'IMPORTANTE: Primero responde al cliente normalmente, luego agrega el bloque <JSON>...</JSON>.\\n' +\n  'El bloque JSON debe estar en la ultima linea. NO lo omitas bajo ninguna circunstancia.\\n\\n';\n\nvar rawSystemMessage =\n  classificationInstruction +\n  '=== INSTRUCCIONES DEL NEGOCIO ===\\n' +\n  (bc.aiInstructions || 'Eres un asistente de atencion al cliente. Se amable y profesional.') +\n  '\\n\\nNombre del negocio: ' + (bc.businessName || '') +\n  '\\nTono: ' + (bc.tone || 'amigable') +\n  '\\nIdioma: ' + (bc.language || 'es') +\n  '\\n\\nCATALOGO DE PRODUCTOS:\\n' + catalogLines.join('\\n') +\n  '\\n\\nPREGUNTAS FRECUENTES:\\n' + faqLines.join('\\n\\n') +\n  '\\n\\nMetodos de pago: ' + (bc.paymentMethods || []).join(', ') +\n  '\\nUbicacion: ' + (bc.location || '') +\n  '\\n\\nAcciones permitidas: ' + (bc.allowedActions || []).join(', ') +\n  '\\nRestricciones: ' + (bc.restrictions || []).join(', ');\n\n// Escapar { -> {{ y } -> }} para LangChain PromptTemplate\nvar openEscape = '{' + '{';\nvar closeEscape = '}' + '}';\nvar systemMessage = rawSystemMessage.split('{').join(openEscape).split('}').join(closeEscape);\n\nreturn [{\n  json: {\n    phone: msg.phone,\n    message: msg.message,\n    pushName: msg.pushName,\n    instanceName: msg.instanceName,\n    messageId: msg.messageId,\n    tenantId: api.tenantId,\n    plan: api.plan,\n    limits: api.limits,\n    usage: api.usage,\n    businessConfig: bc,\n    aiInstructions: bc.aiInstructions || 'Eres un asistente de atencion al cliente.',\n    businessName: bc.businessName || '',\n    tone: bc.tone || 'amigable',\n    language: bc.language || 'es',\n    catalog: bc.catalog || [],\n    faq: bc.faq || [],\n    autoResponses: bc.autoResponses || {},\n    automations: bc.automations || {},\n    allowedActions: bc.allowedActions || [],\n    restrictions: bc.restrictions || [],\n    paymentMethods: bc.paymentMethods || [],\n    location: bc.location || '',\n    inHours: inHours,\n    outOfHoursMessage: bc.outOfHoursMessage || 'Estamos fuera de horario. Te atenderemos pronto.',\n    welcomeMessage: bc.welcomeMessage || '',\n    evolutionApiUrl: api.evolutionApiUrl,\n    tenantEmail: api.tenantEmail || '',\n    messageType: messageType,\n    imageThumbnailBase64: imageThumbnailBase64,\n    evolutionApiKey: api.evolutionApiKey,\n    systemMessage: systemMessage\n  }\n}];"
      }
    },
    {
      "id": "if-horario",
      "name": "En Horario?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        176
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-inhours",
              "leftValue": "={{ $json.inHours }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-fuera-horario",
      "name": "Responder Fuera de Horario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        96
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evolutionApiUrl + '/message/sendText/' + $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolutionApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.outOfHoursMessage }) }}",
        "options": {}
      }
    },
    {
      "id": "mongo-cargar-memoria",
      "name": "Cargar Memoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        304
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nreturn [{ json: {\n  memory: [],\n  currentMessage: input.message || input.text || '',\n  phone: input.phone || input.remoteJid || '',\n  tenantId: input.tenantId || ''\n} }];"
      }
    },
    {
      "id": "agent-clasificar",
      "name": "Clasificar Intención",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2032,
        304
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Cargar Config Negocio').first().json.message }}",
        "options": {
          "systemMessage": "={{ $('Cargar Config Negocio').first().json.systemMessage }}"
        }
      }
    },
    {
      "id": "openai-clasificador",
      "name": "OpenAI Clasificador",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1980,
        460
      ],
      "parameters": {},
      "credentials": {
        "openAiApi": {
          "id": "H8tvpKZpVTZ3Jn1x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "code-evaluar-confianza",
      "name": "Evaluar Confianza",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        304
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst aiOutput = input.output || input.text || '';\nconst config = $('Cargar Config Negocio').first().json;\nconst userMessage = (config.message || '').toLowerCase();\n\nlet parsed;\ntry {\n  const tagMatch = aiOutput.match(/<JSON>([\\s\\S]*?)<\\/JSON>/);\n  if (tagMatch) {\n    parsed = JSON.parse(tagMatch[1].trim());\n  } else {\n    const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : null;\n  }\n} catch(e) {\n  parsed = null;\n}\n\nif (!parsed || !parsed.intent || parsed.intent === 'fallback') {\n  let intent = 'fallback';\n  let confidence = 0;\n\n  // Ventas: incluye verbos de mostrar/ver productos + keywords de compra\n  const ventasKw = /precio|costo|cu[aá]nto|comprar?|pedir|ordenar|cat[aá]logo|producto|stock|disponib|ofer|promo|descuento|valor|cuestan|venden|mu[eé]strame|mostrar|ens[eé][ñn]ame|quiero ver|quiero saber|tienes|tienen|hay|foto|imagen|modelo|talla|color|zapato|calzado|camisa|pantalon|vestido|ropa|accesorio/i;\n  const soporteKw = /problema|fallo|error|ayuda|queja|reclamo|no funciona|da[ñn]o|reparar|garant[ií]a|soporte|defecto|roto/i;\n  const agendaKw = /cita|reserva|agendar|turno|hora libre|disponibilidad.*(?:cita|horario|turno)|(?:cita|turno).*disponib|cu[aá]ndo pueden atender|calendario|appointment|sacar.*cita|pedir.*cita|apartar.*cita/i;\n  const infoKw = /horario|direcci[oó]n|ubicaci[oó]n|contacto|tel[eé]fono|informaci[oó]n|c[oó]mo llegar|d[oó]nde est[aá]n/i;\n  const humanoKw = /hablar con|agente|persona real|humano|operador|representante|vendedor/i;\n\n  if (humanoKw.test(userMessage))      { intent = 'humano';       confidence = 0.92; }\n  else if (agendaKw.test(userMessage)) { intent = 'agendamiento'; confidence = 0.88; }\n  else if (soporteKw.test(userMessage)){ intent = 'soporte';      confidence = 0.88; }\n  else if (ventasKw.test(userMessage)) { intent = 'ventas';       confidence = 0.88; }\n  else if (infoKw.test(userMessage))   { intent = 'informacion';  confidence = 0.85; }\n  // Si el clasificador generó una respuesta de producto, forzar ventas\n  else if (aiOutput && config.catalog && config.catalog.length > 0) {\n    const catalogNames = config.catalog.map(function(p){ return (p.name||'').toLowerCase(); });\n    const matchesCatalog = catalogNames.some(function(name){ return name.length > 2 && aiOutput.toLowerCase().includes(name); });\n    if (matchesCatalog) { intent = 'ventas'; confidence = 0.82; }\n    else                { intent = 'fallback'; confidence = 0; }\n  }\n  else                                  { intent = 'fallback';     confidence = 0;    }\n\n  parsed = { intent: intent, confidence: confidence, suggested_response: aiOutput };\n}\n\nreturn [{\n  json: {\n    phone: config.phone,\n    tenantId: config.tenantId,\n    instanceName: config.instanceName,\n    pushName: config.pushName,\n    message: config.message,\n    businessName: config.businessName,\n    businessType: config.businessType || '',\n    aiInstructions: config.aiInstructions || '',\n    catalog: config.catalog || [],\n    faq: config.faq || [],\n    paymentMethods: config.paymentMethods || [],\n    location: config.location || '',\n    tone: config.tone || 'amigable',\n    language: config.language || 'es',\n    allowedActions: config.allowedActions || [],\n    restrictions: config.restrictions || [],\n    businessHours: (config.businessConfig && config.businessConfig.businessHours) || {},\n    intent: parsed.intent || 'fallback',\n    confidence: parseFloat(parsed.confidence) || 0,\n    ai_response: parsed.suggested_response || aiOutput,\n    classification_raw: aiOutput,\n    tenantEmail: config.tenantEmail || '',\n    messageType: config.messageType || 'text',\n    imageThumbnailBase64: config.imageThumbnailBase64 || null,\n    evolutionApiUrl: config.evolutionApiUrl || '',\n    evolutionApiKey: config.evolutionApiKey || '',\n    humanAgents: (config.businessConfig && config.businessConfig.humanAgents) || [],\n    businessConfig: config.businessConfig || {}\n  }\n}];"
      }
    },
    {
      "id": "if-confianza",
      "name": "Confianza Suficiente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-confianza",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "exec-wf-fallback",
      "name": "WF Fallback",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        896
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "R0MD5wljPcP5C0A5",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "switch-router",
      "name": "Router Intención",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2800,
        208
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ventas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-ventas"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ventas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "soporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-soporte"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Soporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "agendamiento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-agendamiento"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendamiento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "informacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-info"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Información"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-humano"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Humano"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "exec-wf-ventas",
      "name": "WF Ventas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        -64
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "T5XupWLGylrlaibu",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "exec-wf-soporte",
      "name": "WF Soporte",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        144
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yfDNLF5gdNBdIIYW",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "exec-wf-agendamiento",
      "name": "WF Agendamiento",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        336
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "soOZnUDDF5fqvlzJ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "exec-wf-info",
      "name": "WF Info",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        512
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bRthlCLSi7lGb325",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "exec-wf-humano",
      "name": "WF Cola Humana",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        688
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0szZiEHhZ7ZBKVFF",
          "mode": "id"
        },
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "code-preparar-respuesta",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        224
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst config = $('Cargar Config Negocio').first().json;\nconst subResponse = input.response || input.ai_response || 'Lo siento, no pude procesar tu mensaje. Un agente te atenderá pronto.';\n\n// Estimar tokens: ~4 chars por token (heurística básica)\nconst estimatedTokens = Math.ceil(\n  ((config.message || '').length + subResponse.length) / 4\n);\n\nreturn [{\n  json: {\n    phone: config.phone,\n    tenantId: config.tenantId,\n    instanceName: config.instanceName,\n    evolutionApiUrl: config.evolutionApiUrl,\n    evolutionApiKey: config.evolutionApiKey,\n    response_text: subResponse,\n    intent: input.intent || 'unknown',\n    confidence: input.confidence || 0,\n    tokensUsed: estimatedTokens,\n    timestamp: Date.now()\n  }\n}];"
      }
    },
    {
      "id": "http-registrar-uso",
      "name": "Registrar Uso Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3936,
        336
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/internal/usage/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-key",
              "value": "3226e5fc55deedbc8dddec221868c8098aec7e7f045515c32127fd643d4abb98"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $json.tenantId, messages: 1, tokens: $json.tokensUsed || 0 }) }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "http-enviar-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        336
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Preparar Respuesta').first().json.evolutionApiUrl + '/message/sendText/' + $('Preparar Respuesta').first().json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Preparar Respuesta').first().json.evolutionApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Preparar Respuesta').first().json.phone, text: $('Preparar Respuesta').first().json.response_text }) }}",
        "options": {}
      }
    },
    {
      "id": "http-get-rules",
      "name": "Obtener Reglas Automatizacion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        608
      ],
      "parameters": {
        "url": "={{ 'http://host.docker.internal:3000/internal/tenant/' + $json.tenantId + '/automation-rules' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-key",
              "value": "3226e5fc55deedbc8dddec221868c8098aec7e7f045515c32127fd643d4abb98"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "code-evaluar-reglas",
      "name": "Evaluar Reglas Keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        608
      ],
      "parameters": {
        "jsCode": "const config = $('Cargar Config Negocio').first().json;\nconst message = (config.message || '').toLowerCase().trim();\nconst rulesData = $input.first().json;\nconst rules = rulesData.rules || [];\n\n// Clasificación de intención (si ya viene en el contexto del segundo paso)\nconst intentFromAI = config.intentFromAI || null;\n\nlet matchedRule = null;\n\nfor (const rule of rules) {\n  if (!rule.isActive) continue;\n\n  if (rule.trigger.type === 'keyword') {\n    const keywords = (rule.trigger.keywords || []).map(k => k.toLowerCase());\n    const matchMode = rule.trigger.matchMode || 'any';\n    const matched = matchMode === 'any'\n      ? keywords.some(kw => message.includes(kw))\n      : keywords.every(kw => message.includes(kw));\n    if (matched) { matchedRule = rule; break; }\n  }\n\n  // Reglas de intent: se evalúan solo si viene el intent del clasificador\n  if (rule.trigger.type === 'intent' && intentFromAI) {\n    if (rule.trigger.intent === intentFromAI) {\n      matchedRule = rule;\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...config,\n    ruleMatched: matchedRule !== null,\n    ruleName: matchedRule ? matchedRule.name : null,\n    actionType: matchedRule ? matchedRule.action.type : null,\n    replyMessage: matchedRule ? matchedRule.action.replyMessage : null,\n    notifyEmail: matchedRule ? matchedRule.action.notifyEmail : null,\n    ruleTag: matchedRule ? matchedRule.action.tag : null,\n    ruleId: matchedRule ? matchedRule._id : null\n  }\n}];"
      }
    },
    {
      "id": "if-regla-disparada",
      "name": "Regla Disparada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2288,
        608
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-rule",
              "leftValue": "={{ $json.ruleMatched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "code-ejecutar-accion",
      "name": "Ejecutar Accion Regla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        580
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst action = data.actionType;\nlet response_text = '';\nif (action === 'auto_reply') {\n  response_text = data.replyMessage || 'Estamos procesando tu solicitud.';\n} else if (action === 'notify_admin') {\n  response_text = data.replyMessage || 'Tu mensaje fue registrado. Un agente te contactara pronto.';\n} else if (action === 'escalate') {\n  response_text = 'Tu solicitud fue escalada a un supervisor. Te contactaremos a la brevedad.';\n} else if (action === 'tag') {\n  response_text = 'Hemos marcado tu mensaje como prioritario. Un agente especializado te atendera enseguida.';\n} else if (action === 'webhook') {\n  response_text = 'Tu solicitud esta siendo procesada.';\n} else {\n  response_text = 'Recibimos tu mensaje. En breve te atendemos.';\n}\nreturn [{\n  json: {\n    phone: data.phone,\n    tenantId: data.tenantId,\n    instanceName: data.instanceName,\n    response_text,\n    intent: 'automation_rule',\n    confidence: 1.0,\n    ruleId: data.ruleId,\n    ruleName: data.ruleName,\n    actionType: action,\n    timestamp: Date.now()\n  }\n}];"
      }
    },
    {
      "id": "code-manejar-error-subworkflow",
      "name": "Manejar Error Sub-Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        432
      ],
      "parameters": {
        "jsCode": "// Este nodo se activa cuando un sub-workflow (Ventas, Soporte, etc.) falla\n// Genera una respuesta de fallback amigable para el cliente\nconst config = $('Cargar Config Negocio').first().json;\nconst pushName = config.pushName || 'cliente';\nconst businessName = config.businessName || 'nuestro equipo';\n\n// Error proveniente del executeWorkflow\nconst errorInfo = $input.first().json || {};\nconst errorMsg = errorInfo.error?.message || 'Error desconocido en sub-workflow';\nconsole.error('[Router] Error en sub-workflow:', errorMsg, '| tenantId:', config.tenantId);\n\n// Respuesta amigable para el usuario\nconst response = `Hola ${pushName}, en este momento estamos teniendo un inconveniente técnico. Un agente de ${businessName} te contactará en breve para asistirte. Disculpa las molestias.`;\n\nreturn [{\n  json: {\n    response,\n    intent: 'error',\n    confidence: 0,\n    error: true,\n    errorMessage: errorMsg\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Recibir Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje": {
      "main": [
        [
          {
            "node": "Buscar Tenant Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tenant Backend": {
      "main": [
        [
          {
            "node": "Tenant Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Encontrado?": {
      "main": [
        [
          {
            "node": "Tenant Activo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder No Registrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Activo?": {
      "main": [
        [
          {
            "node": "Cargar Config Negocio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Inactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Config Negocio": {
      "main": [
        [
          {
            "node": "En Horario?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "En Horario?": {
      "main": [
        [
          {
            "node": "Responder Fuera de Horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Reglas Automatizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Memoria": {
      "main": [
        [
          {
            "node": "Clasificar Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Clasificador": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificar Intención",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Intención": {
      "main": [
        [
          {
            "node": "Evaluar Confianza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Confianza": {
      "main": [
        [
          {
            "node": "Confianza Suficiente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confianza Suficiente?": {
      "main": [
        [
          {
            "node": "Router Intención",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WF Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Intención": {
      "main": [
        [
          {
            "node": "WF Ventas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WF Soporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WF Agendamiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WF Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WF Cola Humana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Fallback": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Error Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Ventas": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Error Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Soporte": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Error Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Agendamiento": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Error Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Info": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Error Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Cola Humana": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Error Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Registrar Uso Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Uso Backend": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Reglas Automatizacion": {
      "main": [
        [
          {
            "node": "Evaluar Reglas Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Reglas Keyword": {
      "main": [
        [
          {
            "node": "Regla Disparada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regla Disparada?": {
      "main": [
        [
          {
            "node": "Ejecutar Accion Regla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cargar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Accion Regla": {
      "main": [
        [
          {
            "node": "Registrar Uso Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manejar Error Sub-Workflow": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7c169e49-da3e-44e2-bae1-9b6419b70cb0",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2026-03-03T22:00:38.607Z",
      "updatedAt": "2026-03-03T22:00:38.607Z",
      "role": "workflow:owner",
      "workflowId": "78gn0qi3wby3PnK4",
      "projectId": "dphuEt0WiJyF6f7N",
      "project": {
        "createdAt": "2026-03-03T20:57:36.972Z",
        "updatedAt": "2026-03-03T21:02:20.087Z",
        "id": "dphuEt0WiJyF6f7N",
        "name": "Miguel Henao <miguelangelhenaoc2007@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2026-03-03T20:57:36.973Z",
            "updatedAt": "2026-03-03T20:57:36.973Z",
            "role": "project:personalOwner",
            "userId": "a259b7ae-ce4d-460b-8060-089ed8f93d22",
            "projectId": "dphuEt0WiJyF6f7N",
            "user": {
              "createdAt": "2026-03-03T20:57:35.386Z",
              "updatedAt": "2026-03-04T04:43:38.000Z",
              "id": "a259b7ae-ce4d-460b-8060-089ed8f93d22",
              "email": "miguelangelhenaoc2007@gmail.com",
              "firstName": "Miguel",
              "lastName": "Henao",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-03-04T04:43:37.205Z",
                "personalization_survey_n8n_version": "1.82.3"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "78gn0qi3wby3PnK4",
                "userActivatedAt": 1772575651815,
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "tags": []
}