n8n/workflows/core/[AI] Ventas Inteligente.json
{
  "updatedAt": "2026-02-27T05:39:28.466Z",
  "createdAt": "2026-02-16T19:56:54.145Z",
  "id": "byoVCQptPoXCu2mC",
  "name": "[AI] Ventas Inteligente",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-ventas",
      "name": "Recibir Datos del Router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "collection": "products",
        "options": {},
        "query": "={{ JSON.stringify({ tenant_id: $json.tenant_id, active: { $ne: false } }) }}"
      },
      "id": "mongo-catalogo",
      "name": "Cargar Catalogo",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        288,
        304
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "mongoDb": {
          "id": "NyqFSqtGmoUhp7p3",
          "name": "MongoDB SaaS Core"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Sub-workflow: Ventas\n// Input: datos del Router (tenantId, message, catalog, faq, aiInstructions, etc.)\nvar input = $(\"Recibir Datos del Router\").first().json;\n\n// Obtener productos actuales del backend (siempre trae el catálogo completo)\nvar productosBackend = [];\ntry {\n  var productosNode = $('Buscar Productos Backend').first().json;\n  if (productosNode && productosNode.products && Array.isArray(productosNode.products)) {\n    productosBackend = productosNode.products;\n  }\n} catch(e) {}\n\n// Fallback: catálogo del businessConfig (pasado por el Router)\nvar catalogoEstatico = Array.isArray(input.catalog) ? input.catalog : [];\n\n// Preferir productos del backend (frescos), fallback al estático\nvar catalogText = '';\nif (productosBackend.length > 0) {\n  catalogText = '[PRODUCTOS DISPONIBLES ACTUALMENTE — NO menciones ningún otro producto]:\\n';\n  productosBackend.forEach(function(p) {\n    catalogText += '• ' + p.name;\n    if (p.category) catalogText += ' [' + p.category + ']';\n    if (p.price) catalogText += ' — $' + Number(p.price).toLocaleString('es-CO');\n    if (p.comparePrice && p.comparePrice > p.price) {\n      catalogText += ' (antes $' + Number(p.comparePrice).toLocaleString('es-CO') + ')';\n    }\n    if (p.sku) catalogText += ' | SKU: ' + p.sku;\n    if (p.description) catalogText += '\\n  ' + p.description;\n    if (!p.available) catalogText += ' [NO DISPONIBLE]';\n    if (p.stock !== null && p.stock !== undefined && p.stock <= 5) {\n      catalogText += ' [Últimas ' + p.stock + ' unidades]';\n    }\n    catalogText += '\\n';\n  });\n} else if (catalogoEstatico.length > 0) {\n  catalogText = '[PRODUCTOS DISPONIBLES ACTUALMENTE — NO menciones ningún otro producto]:\\n';\n  catalogoEstatico.forEach(function(item) {\n    catalogText += '• ' + item.name;\n    if (item.price) catalogText += ' — $' + Number(item.price).toLocaleString('es-CO');\n    if (item.category) catalogText += ' (' + item.category + ')';\n    if (item.description) catalogText += ': ' + item.description;\n    if (!item.available) catalogText += ' [NO DISPONIBLE]';\n    catalogText += '\\n';\n  });\n} else {\n  catalogText = 'No hay productos registrados en el catálogo en este momento.';\n}\n\n// FAQ\nvar faqText = '';\nvar faqItems = Array.isArray(input.faq) ? input.faq : [];\nif (faqItems.length > 0) {\n  faqText = faqItems.map(function(f) {\n    return 'P: ' + f.question + '\\nR: ' + f.answer;\n  }).join('\\n\\n');\n} else {\n  faqText = 'Sin preguntas frecuentes configuradas.';\n}\n\nvar paymentText = Array.isArray(input.paymentMethods) && input.paymentMethods.length > 0\n  ? input.paymentMethods.join(', ')\n  : 'Consultar con el equipo';\n\nvar allowedText = Array.isArray(input.allowedActions) && input.allowedActions.length > 0\n  ? input.allowedActions.map(function(a) { return '- ' + a; }).join('\\n')\n  : '- Informar sobre productos y precios\\n- Tomar pedidos';\n\nvar restrictText = Array.isArray(input.restrictions) && input.restrictions.length > 0\n  ? input.restrictions.map(function(r) { return '- ' + r; }).join('\\n')\n  : '- No revelar información confidencial';\n\nvar systemMessage =\n  (input.aiInstructions || 'Eres un asistente de ventas especializado.') +\n  '\\n\\nNombre del cliente: ' + (input.pushName || 'Cliente') +\n  '\\n\\nROL: El cliente está interesado en productos o precios. Objetivos:' +\n  '\\n1. Entender qué producto necesita' +\n  '\\n2. Presentar opciones con precios claros del catálogo actual' +\n  '\\n3. Guiar hacia la compra: confirmar producto → calcular total → solicitar datos de entrega' +\n  '\\n4. Si no hay exactamente lo que pide, ofrecer la alternativa más cercana del catálogo' +\n  '\\n\\nIMPORTANTE: Solo puedes hablar de los productos listados a continuación.' +\n  '\\n\\n' + catalogText +\n  '\\n\\nPREGUNTAS FRECUENTES:\\n' + faqText +\n  '\\n\\nMÉTODOS DE PAGO: ' + paymentText +\n  (input.location ? '\\n\\nUBICACIÓN: ' + input.location : '') +\n  '\\n\\nACCIONES PERMITIDAS:\\n' + allowedText +\n  '\\n\\nRESTRICCIONES:\\n' + restrictText +\n  '\\n\\nMENSAJE DEL CLIENTE: \"' + (input.message || '') + '\"';\n\nreturn [{\n  json: {\n    phone: input.phone,\n    tenantId: input.tenantId,\n    instanceName: input.instanceName,\n    pushName: input.pushName,\n    message: input.message,\n    intent: input.intent,\n    confidence: input.confidence,\n    evolutionApiUrl: input.evolutionApiUrl,\n    evolutionApiKey: input.evolutionApiKey,\n    systemMessage: systemMessage\n  }\n}];"
      },
      "id": "code-contexto-ventas",
      "name": "Preparar Contexto Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        304
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "={{ $json.systemMessage }}"
        }
      },
      "id": "agent-ventas",
      "name": "Agente Ventas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        832,
        304
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.4
        }
      },
      "id": "openai-ventas",
      "name": "OpenAI Ventas",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "nbuugsGU5Pc5bRff",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Preparar Contexto Ventas').first().json;\nconst aiOutput = $input.first().json;\nconst response = aiOutput.output || aiOutput.text || 'Lo siento, no pude procesar tu consulta de ventas.';\n\n// Detectar si hay intención de compra/cotización en la respuesta\nconst keywords = ['confirmar', 'pedido', 'cotización', 'total', 'precio final'];\nconst hasQuoteIntent = keywords.some(k => response.toLowerCase().includes(k));\n\nreturn [{\n  json: {\n    response: response,\n    intent: 'ventas',\n    tokensEstimated: Math.ceil((input.message||''+ response).length / 4),\n    phone: input.phone,\n    tenantId: input.tenantId,\n    intent_handled: 'ventas',\n    action_taken: hasQuoteIntent ? 'cotizacion_sugerida' : 'consulta_respondida',\n    metadata: {\n      pushName: input.pushName,\n      original_message: input.message,\n      has_quote_intent: hasQuoteIntent\n    }\n  }\n}];"
      },
      "id": "code-evaluar-ventas",
      "name": "Evaluar Respuesta Ventas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        304
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Contexto Ventas').first().json.tenantId + '_' + $('Preparar Contexto Ventas').first().json.phone + '_v2' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        912,
        512
      ],
      "id": "ea5d775b-ad01-421b-b371-fed4d5725fe5",
      "name": "Simple Memory"
    },
    {
      "id": "buscar-productos-1772037737680",
      "name": "Buscar Productos Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        294,
        304
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"http://host.docker.internal:3000/internal/products?tenantId=\" + $json.tenantId + \"&limit=20\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-key",
              "value": "econodo_internal_key_dev_n8n_2024"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Recibir Datos del Router": {
      "main": [
        [
          {
            "node": "Buscar Productos Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Productos Backend": {
      "main": [
        [
          {
            "node": "Preparar Contexto Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Ventas": {
      "main": [
        [
          {
            "node": "Agente Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Ventas": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Ventas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Ventas": {
      "main": [
        [
          {
            "node": "Evaluar Respuesta Ventas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Ventas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b1af31bf-b832-4d91-aecf-5af1ed902752",
  "activeVersionId": "b1af31bf-b832-4d91-aecf-5af1ed902752",
  "versionCounter": 43,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-16T19:56:54.198Z",
      "createdAt": "2026-02-16T19:56:54.198Z",
      "role": "workflow:owner",
      "workflowId": "byoVCQptPoXCu2mC",
      "projectId": "k7R9bd1fln2sM31i",
      "project": {
        "updatedAt": "2026-02-10T17:00:02.863Z",
        "createdAt": "2026-02-10T16:58:47.422Z",
        "id": "k7R9bd1fln2sM31i",
        "name": "Miguel Henao <miguelangelhenaoc2007@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "753fc503-10c4-4663-9941-7c85f481aed3",
        "projectRelations": [
          {
            "updatedAt": "2026-02-10T16:58:47.422Z",
            "createdAt": "2026-02-10T16:58:47.422Z",
            "userId": "753fc503-10c4-4663-9941-7c85f481aed3",
            "projectId": "k7R9bd1fln2sM31i",
            "user": {
              "updatedAt": "2026-02-27T05:01:40.000Z",
              "createdAt": "2026-02-10T16:58:44.769Z",
              "id": "753fc503-10c4-4663-9941-7c85f481aed3",
              "email": "miguelangelhenaoc2007@gmail.com",
              "firstName": "Miguel",
              "lastName": "Henao",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-10T17:00:08.268Z",
                "personalization_survey_n8n_version": "2.4.8"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "8S4e3vXSZMQd9kQi4QR_W",
                "userActivatedAt": 1770829756908,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1771962970457
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-27T05:39:28.575Z",
    "createdAt": "2026-02-27T05:39:28.575Z",
    "versionId": "b1af31bf-b832-4d91-aecf-5af1ed902752",
    "workflowId": "byoVCQptPoXCu2mC",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger-ventas",
        "name": "Recibir Datos del Router",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          304
        ]
      },
      {
        "parameters": {
          "collection": "products",
          "options": {},
          "query": "={{ JSON.stringify({ tenant_id: $json.tenant_id, active: { $ne: false } }) }}"
        },
        "id": "mongo-catalogo",
        "name": "Cargar Catalogo",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          288,
          304
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1000,
        "credentials": {
          "mongoDb": {
            "id": "NyqFSqtGmoUhp7p3",
            "name": "MongoDB SaaS Core"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Sub-workflow: Ventas\n// Input: datos del Router (tenantId, message, catalog, faq, aiInstructions, etc.)\nvar input = $(\"Recibir Datos del Router\").first().json;\n\n// Obtener productos actuales del backend (siempre trae el catálogo completo)\nvar productosBackend = [];\ntry {\n  var productosNode = $('Buscar Productos Backend').first().json;\n  if (productosNode && productosNode.products && Array.isArray(productosNode.products)) {\n    productosBackend = productosNode.products;\n  }\n} catch(e) {}\n\n// Fallback: catálogo del businessConfig (pasado por el Router)\nvar catalogoEstatico = Array.isArray(input.catalog) ? input.catalog : [];\n\n// Preferir productos del backend (frescos), fallback al estático\nvar catalogText = '';\nif (productosBackend.length > 0) {\n  catalogText = '[PRODUCTOS DISPONIBLES ACTUALMENTE — NO menciones ningún otro producto]:\\n';\n  productosBackend.forEach(function(p) {\n    catalogText += '• ' + p.name;\n    if (p.category) catalogText += ' [' + p.category + ']';\n    if (p.price) catalogText += ' — $' + Number(p.price).toLocaleString('es-CO');\n    if (p.comparePrice && p.comparePrice > p.price) {\n      catalogText += ' (antes $' + Number(p.comparePrice).toLocaleString('es-CO') + ')';\n    }\n    if (p.sku) catalogText += ' | SKU: ' + p.sku;\n    if (p.description) catalogText += '\\n  ' + p.description;\n    if (!p.available) catalogText += ' [NO DISPONIBLE]';\n    if (p.stock !== null && p.stock !== undefined && p.stock <= 5) {\n      catalogText += ' [Últimas ' + p.stock + ' unidades]';\n    }\n    catalogText += '\\n';\n  });\n} else if (catalogoEstatico.length > 0) {\n  catalogText = '[PRODUCTOS DISPONIBLES ACTUALMENTE — NO menciones ningún otro producto]:\\n';\n  catalogoEstatico.forEach(function(item) {\n    catalogText += '• ' + item.name;\n    if (item.price) catalogText += ' — $' + Number(item.price).toLocaleString('es-CO');\n    if (item.category) catalogText += ' (' + item.category + ')';\n    if (item.description) catalogText += ': ' + item.description;\n    if (!item.available) catalogText += ' [NO DISPONIBLE]';\n    catalogText += '\\n';\n  });\n} else {\n  catalogText = 'No hay productos registrados en el catálogo en este momento.';\n}\n\n// FAQ\nvar faqText = '';\nvar faqItems = Array.isArray(input.faq) ? input.faq : [];\nif (faqItems.length > 0) {\n  faqText = faqItems.map(function(f) {\n    return 'P: ' + f.question + '\\nR: ' + f.answer;\n  }).join('\\n\\n');\n} else {\n  faqText = 'Sin preguntas frecuentes configuradas.';\n}\n\nvar paymentText = Array.isArray(input.paymentMethods) && input.paymentMethods.length > 0\n  ? input.paymentMethods.join(', ')\n  : 'Consultar con el equipo';\n\nvar allowedText = Array.isArray(input.allowedActions) && input.allowedActions.length > 0\n  ? input.allowedActions.map(function(a) { return '- ' + a; }).join('\\n')\n  : '- Informar sobre productos y precios\\n- Tomar pedidos';\n\nvar restrictText = Array.isArray(input.restrictions) && input.restrictions.length > 0\n  ? input.restrictions.map(function(r) { return '- ' + r; }).join('\\n')\n  : '- No revelar información confidencial';\n\nvar systemMessage =\n  (input.aiInstructions || 'Eres un asistente de ventas especializado.') +\n  '\\n\\nNombre del cliente: ' + (input.pushName || 'Cliente') +\n  '\\n\\nROL: El cliente está interesado en productos o precios. Objetivos:' +\n  '\\n1. Entender qué producto necesita' +\n  '\\n2. Presentar opciones con precios claros del catálogo actual' +\n  '\\n3. Guiar hacia la compra: confirmar producto → calcular total → solicitar datos de entrega' +\n  '\\n4. Si no hay exactamente lo que pide, ofrecer la alternativa más cercana del catálogo' +\n  '\\n\\nIMPORTANTE: Solo puedes hablar de los productos listados a continuación.' +\n  '\\n\\n' + catalogText +\n  '\\n\\nPREGUNTAS FRECUENTES:\\n' + faqText +\n  '\\n\\nMÉTODOS DE PAGO: ' + paymentText +\n  (input.location ? '\\n\\nUBICACIÓN: ' + input.location : '') +\n  '\\n\\nACCIONES PERMITIDAS:\\n' + allowedText +\n  '\\n\\nRESTRICCIONES:\\n' + restrictText +\n  '\\n\\nMENSAJE DEL CLIENTE: \"' + (input.message || '') + '\"';\n\nreturn [{\n  json: {\n    phone: input.phone,\n    tenantId: input.tenantId,\n    instanceName: input.instanceName,\n    pushName: input.pushName,\n    message: input.message,\n    intent: input.intent,\n    confidence: input.confidence,\n    evolutionApiUrl: input.evolutionApiUrl,\n    evolutionApiKey: input.evolutionApiKey,\n    systemMessage: systemMessage\n  }\n}];"
        },
        "id": "code-contexto-ventas",
        "name": "Preparar Contexto Ventas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          304
        ]
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $json.message }}",
          "options": {
            "systemMessage": "={{ $json.systemMessage }}"
          }
        },
        "id": "agent-ventas",
        "name": "Agente Ventas",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          832,
          304
        ],
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0.4
          }
        },
        "id": "openai-ventas",
        "name": "OpenAI Ventas",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          768,
          512
        ],
        "credentials": {
          "openAiApi": {
            "id": "nbuugsGU5Pc5bRff",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $('Preparar Contexto Ventas').first().json;\nconst aiOutput = $input.first().json;\nconst response = aiOutput.output || aiOutput.text || 'Lo siento, no pude procesar tu consulta de ventas.';\n\n// Detectar si hay intención de compra/cotización en la respuesta\nconst keywords = ['confirmar', 'pedido', 'cotización', 'total', 'precio final'];\nconst hasQuoteIntent = keywords.some(k => response.toLowerCase().includes(k));\n\nreturn [{\n  json: {\n    response: response,\n    intent: 'ventas',\n    tokensEstimated: Math.ceil((input.message||''+ response).length / 4),\n    phone: input.phone,\n    tenantId: input.tenantId,\n    intent_handled: 'ventas',\n    action_taken: hasQuoteIntent ? 'cotizacion_sugerida' : 'consulta_respondida',\n    metadata: {\n      pushName: input.pushName,\n      original_message: input.message,\n      has_quote_intent: hasQuoteIntent\n    }\n  }\n}];"
        },
        "id": "code-evaluar-ventas",
        "name": "Evaluar Respuesta Ventas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1184,
          304
        ]
      },
      {
        "parameters": {
          "contextWindowLength": 10,
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Preparar Contexto Ventas').first().json.tenantId + '_' + $('Preparar Contexto Ventas').first().json.phone + '_v2' }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          912,
          512
        ],
        "id": "ea5d775b-ad01-421b-b371-fed4d5725fe5",
        "name": "Simple Memory"
      },
      {
        "id": "buscar-productos-1772037737680",
        "name": "Buscar Productos Backend",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          294,
          304
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ \"http://host.docker.internal:3000/internal/products?tenantId=\" + $json.tenantId + \"&limit=20\" }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-internal-key",
                "value": "econodo_internal_key_dev_n8n_2024"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        }
      }
    ],
    "connections": {
      "Recibir Datos del Router": {
        "main": [
          [
            {
              "node": "Buscar Productos Backend",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Productos Backend": {
        "main": [
          [
            {
              "node": "Preparar Contexto Ventas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Contexto Ventas": {
        "main": [
          [
            {
              "node": "Agente Ventas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Ventas": {
        "ai_languageModel": [
          [
            {
              "node": "Agente Ventas",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Agente Ventas": {
        "main": [
          [
            {
              "node": "Evaluar Respuesta Ventas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Agente Ventas",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Henao",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-27T05:39:29.342Z",
        "id": 139,
        "workflowId": "byoVCQptPoXCu2mC",
        "versionId": "b1af31bf-b832-4d91-aecf-5af1ed902752",
        "event": "activated",
        "userId": "753fc503-10c4-4663-9941-7c85f481aed3"
      }
    ]
  }
}