n8n/workflows/core/FALLBACK-workflow.json
{"updatedAt":"2026-03-02T21:29:30.487Z","createdAt":"2026-02-17T15:23:27.659Z","id":"ctSgw6mP70AGio9w","name":"[AI] Fallback Inteligente","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger-fallback","name":"Recibir Datos del Router","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,304],"parameters":{"inputSource":"passthrough"}},{"id":"code-contexto-fallback","name":"Preparar Contexto Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,304],"parameters":{"jsCode":"const input = $input.first().json;\n\nvar catalogText = (input.catalog || []).map(function(p) {\n  if (!p || !p.name) return null;\n  var line = '- ' + p.name;\n  if (p.price) line += ' | $' + Number(p.price).toLocaleString('es-CO');\n  if (p.category) line += ' | ' + p.category;\n  if (p.available === false) line += ' [NO DISPONIBLE]';\n  if (p.description) line += ': ' + p.description;\n  return line;\n}).filter(Boolean).join('\\n') || 'No hay catálogo disponible.';\n\nvar faqText = (input.faq || []).map(function(f) {\n  if (!f || !f.question) return null;\n  return 'P: ' + f.question + '\\nR: ' + f.answer;\n}).filter(Boolean).join('\\n\\n') || 'No hay preguntas frecuentes.';\n\nvar payText = (input.paymentMethods || []).join(', ') || 'No especificado';\nvar locationText = input.location || 'No especificada';\n\nvar systemMessage = (input.aiInstructions || 'Eres un asistente de atención al cliente. Sé amable y profesional.') +\n  '\\n\\nNombre del cliente: ' + (input.pushName || 'Cliente') +\n  '\\n\\nEl sistema no pudo clasificar con certeza la intención del cliente.' +\n  '\\nTu trabajo es dar una respuesta útil y amable, e intentar clarificar qué necesita.' +\n  '\\n\\nCATÁLOGO DEL NEGOCIO:\\n' + catalogText +\n  '\\n\\nPREGUNTAS FRECUENTES:\\n' + faqText +\n  '\\n\\nMétodos de pago: ' + payText +\n  '\\nUbicación: ' + locationText +\n  '\\n\\nREGLAS:' +\n  '\\n1. Responde de forma amable y profesional' +\n  '\\n2. Intenta responder con la información disponible del negocio' +\n  '\\n3. Si no puedes determinar qué necesita, ofrece las opciones principales' +\n  '\\n4. Sugiérele que reformule si la pregunta es ambigua' +\n  '\\n5. Respuestas cortas, máximo 3-4 oraciones' +\n  '\\n6. NO inventes información' +\n  '\\n7. Responde en español';\n\nreturn [{\n  json: {\n    phone: input.phone,\n    tenant_id: input.tenantId,\n    pushName: input.pushName,\n    message: input.message,\n    instance: input.instanceName,\n    business_name: input.businessName,\n    intent_original: input.intent || 'fallback',\n    confidence_original: input.confidence || 0,\n    ai_response_clasificador: input.ai_response || '',\n    systemMessage: systemMessage\n  }\n}];"}},{"id":"agent-fallback","name":"Agente Fallback","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[576,304],"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"id":"openai-fallback","name":"OpenAI Fallback","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[576,512],"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.4}},"credentials":{"openAiApi":{"id":"nbuugsGU5Pc5bRff","name":"OpenAi account"}}},{"id":"code-respuesta-fallback","name":"Preparar Respuesta Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,304],"parameters":{"jsCode":"const input = $('Preparar Contexto Fallback').first().json;\nconst aiOutput = $input.first().json;\n\n// Prioridad: usar respuesta de Clasificar Intencion si existe (evita doble llamada AI)\n// Si el clasificador ya genero una respuesta valida, usarla directamente sin nueva llamada a OpenAI\nconst aiClasificadorResp = (input.ai_response_clasificador || '').trim();\nconst agenteFallbackResp = (aiOutput.output || aiOutput.text || '').trim();\nconst defaultMsg = 'Lo siento, no logre entender tu mensaje. Puedo ayudarte con informacion del negocio, ventas, soporte o agendar una cita.';\n\n// Preferir respuesta del clasificador (ya tiene el contexto completo del negocio)\nconst response = (aiClasificadorResp.length > 15 ? aiClasificadorResp : null)\n  || (agenteFallbackResp.length > 5 ? agenteFallbackResp : null)\n  || defaultMsg;\n\nreturn [{\n  json: {\n    response: response,\n    phone: input.phone,\n    tenant_id: input.tenant_id,\n    intent_handled: 'fallback',\n    action_taken: 'respuesta_general',\n    confidence: input.confidence_original,\n    metadata: {\n      pushName: input.pushName,\n      original_message: input.message,\n      intent_original: input.intent_original,\n      source: aiClasificadorResp.length > 15 ? 'clasificador' : 'agente_fallback'\n    }\n  }\n}];"}},{"parameters":{"contextWindowLength":10,"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Contexto Fallback').first().json.tenantId + '_' + $('Preparar Contexto Fallback').first().json.phone }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[576,484],"id":"memory-fallback-001","name":"Simple Memory"}],"connections":{"Recibir Datos del Router":{"main":[[{"node":"Preparar Contexto Fallback","type":"main","index":0}]]},"Preparar Contexto Fallback":{"main":[[{"node":"Agente Fallback","type":"main","index":0}]]},"OpenAI Fallback":{"ai_languageModel":[[{"node":"Agente Fallback","type":"ai_languageModel","index":0}]]},"Agente Fallback":{"main":[[{"node":"Preparar Respuesta Fallback","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente Fallback","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3e03c1c0-d94e-4df0-aeaa-03de3301ac4e","activeVersionId":"3e03c1c0-d94e-4df0-aeaa-03de3301ac4e","versionCounter":28,"triggerCount":0,"shared":[{"updatedAt":"2026-02-17T15:23:27.719Z","createdAt":"2026-02-17T15:23:27.719Z","role":"workflow:owner","workflowId":"ctSgw6mP70AGio9w","projectId":"k7R9bd1fln2sM31i","project":{"updatedAt":"2026-02-10T17:00:02.863Z","createdAt":"2026-02-10T16:58:47.422Z","id":"k7R9bd1fln2sM31i","name":"Miguel Henao <miguelangelhenaoc2007@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"753fc503-10c4-4663-9941-7c85f481aed3","projectRelations":[{"updatedAt":"2026-02-10T16:58:47.422Z","createdAt":"2026-02-10T16:58:47.422Z","userId":"753fc503-10c4-4663-9941-7c85f481aed3","projectId":"k7R9bd1fln2sM31i","user":{"updatedAt":"2026-03-02T21:12:58.000Z","createdAt":"2026-02-10T16:58:44.769Z","id":"753fc503-10c4-4663-9941-7c85f481aed3","email":"miguelangelhenaoc2007@gmail.com","firstName":"Miguel","lastName":"Henao","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-10T17:00:08.268Z","personalization_survey_n8n_version":"2.4.8"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"8S4e3vXSZMQd9kQi4QR_W","userActivatedAt":1770829756908,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1771962970457}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-02","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-02T21:29:30.489Z","createdAt":"2026-03-02T21:29:30.489Z","versionId":"3e03c1c0-d94e-4df0-aeaa-03de3301ac4e","workflowId":"ctSgw6mP70AGio9w","nodes":[{"id":"trigger-fallback","name":"Recibir Datos del Router","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,304],"parameters":{"inputSource":"passthrough"}},{"id":"code-contexto-fallback","name":"Preparar Contexto Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,304],"parameters":{"jsCode":"const input = $input.first().json;\n\nvar catalogText = (input.catalog || []).map(function(p) {\n  if (!p || !p.name) return null;\n  var line = '- ' + p.name;\n  if (p.price) line += ' | $' + Number(p.price).toLocaleString('es-CO');\n  if (p.category) line += ' | ' + p.category;\n  if (p.available === false) line += ' [NO DISPONIBLE]';\n  if (p.description) line += ': ' + p.description;\n  return line;\n}).filter(Boolean).join('\\n') || 'No hay catálogo disponible.';\n\nvar faqText = (input.faq || []).map(function(f) {\n  if (!f || !f.question) return null;\n  return 'P: ' + f.question + '\\nR: ' + f.answer;\n}).filter(Boolean).join('\\n\\n') || 'No hay preguntas frecuentes.';\n\nvar payText = (input.paymentMethods || []).join(', ') || 'No especificado';\nvar locationText = input.location || 'No especificada';\n\nvar systemMessage = (input.aiInstructions || 'Eres un asistente de atención al cliente. Sé amable y profesional.') +\n  '\\n\\nNombre del cliente: ' + (input.pushName || 'Cliente') +\n  '\\n\\nEl sistema no pudo clasificar con certeza la intención del cliente.' +\n  '\\nTu trabajo es dar una respuesta útil y amable, e intentar clarificar qué necesita.' +\n  '\\n\\nCATÁLOGO DEL NEGOCIO:\\n' + catalogText +\n  '\\n\\nPREGUNTAS FRECUENTES:\\n' + faqText +\n  '\\n\\nMétodos de pago: ' + payText +\n  '\\nUbicación: ' + locationText +\n  '\\n\\nREGLAS:' +\n  '\\n1. Responde de forma amable y profesional' +\n  '\\n2. Intenta responder con la información disponible del negocio' +\n  '\\n3. Si no puedes determinar qué necesita, ofrece las opciones principales' +\n  '\\n4. Sugiérele que reformule si la pregunta es ambigua' +\n  '\\n5. Respuestas cortas, máximo 3-4 oraciones' +\n  '\\n6. NO inventes información' +\n  '\\n7. Responde en español';\n\nreturn [{\n  json: {\n    phone: input.phone,\n    tenant_id: input.tenantId,\n    pushName: input.pushName,\n    message: input.message,\n    instance: input.instanceName,\n    business_name: input.businessName,\n    intent_original: input.intent || 'fallback',\n    confidence_original: input.confidence || 0,\n    ai_response_clasificador: input.ai_response || '',\n    systemMessage: systemMessage\n  }\n}];"}},{"id":"agent-fallback","name":"Agente Fallback","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[576,304],"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"id":"openai-fallback","name":"OpenAI Fallback","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[576,512],"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.4}},"credentials":{"openAiApi":{"id":"nbuugsGU5Pc5bRff","name":"OpenAi account"}}},{"id":"code-respuesta-fallback","name":"Preparar Respuesta Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,304],"parameters":{"jsCode":"const input = $('Preparar Contexto Fallback').first().json;\nconst aiOutput = $input.first().json;\n\n// Prioridad: usar respuesta de Clasificar Intencion si existe (evita doble llamada AI)\n// Si el clasificador ya genero una respuesta valida, usarla directamente sin nueva llamada a OpenAI\nconst aiClasificadorResp = (input.ai_response_clasificador || '').trim();\nconst agenteFallbackResp = (aiOutput.output || aiOutput.text || '').trim();\nconst defaultMsg = 'Lo siento, no logre entender tu mensaje. Puedo ayudarte con informacion del negocio, ventas, soporte o agendar una cita.';\n\n// Preferir respuesta del clasificador (ya tiene el contexto completo del negocio)\nconst response = (aiClasificadorResp.length > 15 ? aiClasificadorResp : null)\n  || (agenteFallbackResp.length > 5 ? agenteFallbackResp : null)\n  || defaultMsg;\n\nreturn [{\n  json: {\n    response: response,\n    phone: input.phone,\n    tenant_id: input.tenant_id,\n    intent_handled: 'fallback',\n    action_taken: 'respuesta_general',\n    confidence: input.confidence_original,\n    metadata: {\n      pushName: input.pushName,\n      original_message: input.message,\n      intent_original: input.intent_original,\n      source: aiClasificadorResp.length > 15 ? 'clasificador' : 'agente_fallback'\n    }\n  }\n}];"}},{"parameters":{"contextWindowLength":10,"sessionIdType":"customKey","sessionKey":"={{ $('Preparar Contexto Fallback').first().json.tenantId + '_' + $('Preparar Contexto Fallback').first().json.phone }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[576,484],"id":"memory-fallback-001","name":"Simple Memory"}],"connections":{"Recibir Datos del Router":{"main":[[{"node":"Preparar Contexto Fallback","type":"main","index":0}]]},"Preparar Contexto Fallback":{"main":[[{"node":"Agente Fallback","type":"main","index":0}]]},"OpenAI Fallback":{"ai_languageModel":[[{"node":"Agente Fallback","type":"ai_languageModel","index":0}]]},"Agente Fallback":{"main":[[{"node":"Preparar Respuesta Fallback","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente Fallback","type":"ai_memory","index":0}]]}},"authors":"Miguel Henao","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-02T21:29:30.599Z","id":143,"workflowId":"ctSgw6mP70AGio9w","versionId":"3e03c1c0-d94e-4df0-aeaa-03de3301ac4e","event":"activated","userId":"753fc503-10c4-4663-9941-7c85f481aed3"}]}}